<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Control de INCOSOD</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/asistencia.css">
</head>
<body>
    <div class="container">

        <aside>
            <div class="top">
                <!--Aqui se coloca el logo de la empresa-->
                <div class="logo">
                    <img src="/images/logo.png" alt="Logotipo">
                    <h2><span class="color-in">IN</span>COSOD</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">
                        close
                        </span>
                </div>
            </div>
            <!--Aqui se define el sidebar que contendra los apartados a donde el usuario podra navegar dentro del sistema-->
            <div class="sidebar">

                <a href="#"  id="panel-control">
                    <span class="material-icons">grid_view</span>
                    <h3>Panel de Control</h3>
                </a>
                <a href="#" id="p-empleados">
                    <span class="material-icons">person</span>
                    <h3>Empleados</h3>
                </a>
                <a href="#" id="asistencias">
                    <span class="material-icons">assignment_ind</span>
                    <h3>Asistencias</h3>
                </a>
                <div class="submenu" id="submenu">
                    <a id="registro-asistencia"> Registrar Asistencia</a>
                    <a id="consulta-asistencia"> Consultar Asistencia</a>
                </div>

                <a href="#" id="proyectos">
                    <span class="material-icons">create</span>
                    <h3>Proyectos</h3>
                </a>

                <a href="#">
                    <span class="material-icons">payments</span>
                    <h3>Nómina</h3>
                </a>
                <a href="#">
                    <span class="material-icons">text_snippet</span>
                    <h3>Bitácora</h3>
                </a>
                <a href="#">
                    <span class="material-icons">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>

        </aside>
        <!--------------------------------------------------- FIN DEL ASIDE ------------------------------------------------------>
        <main>
            <h1>Asistencia del dia</h1>
            
            <form class="form-asistencia">
                <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Asistencia</th>  
                        <th>Inasistencia</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                            {% for empleado in empleados %}
                                <tr class="employees">
                                    <td>{{empleado.nombre}} {{empleado.apellido_paterno}} {{empleado.apellido_materno}}</td>
                                    <td>
                                        <label>
                                            <input type="radio" class="radio-btn asistencia" name="{{empleado.id}}" id="{{empleado.id}}" 
                                            
                                            
                                            
                                            value="1"  data-id-empleado="{{empleado.id}}" data-asistencia="asistencia" data-nombre="{{empleado.nombre}}">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" class="radio-btn inasistencia" name="{{empleado.id}}" id="{{empleado.id}}" value="0" data-id-empleado="{{empleado.id}}" data-asistencia="inasistencia">
                                        </label>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                </table>
                    <div style="text-align: right;">
                        <button type="submit" class="btn btn-guardar">Guardar</button>  
                    </div>
                </div>

            </form>
            {% for asistencia in asistencias %}

            <button data-id="{{asistencia.id}}" class="btn btn-terminar">Terminar Turno</button>
             {% endfor %}
           
              <!-- Aquí es donde aparecerán los botones de paginación -->
              <div id="pagination"></div>
        </main>
                <!--------------------Fin de la seccion del main-->

           
            
             <!-- Ventana Modal al Guardar -->
             <div id="modal" class="modal">

                <div class="modal-content centered">
                    <h2>Seleccione los empleados que llegaron tarde</h2>
                    {% for empleado in empleados%}
                      <div class="empleadoModal" data-id="{{empleado.id}}">
                        <div class="nombres">
                            <input type="checkbox" id="empleado-{{empleado.id}}" name="empleado-{{empleado.id}}" onchange="toggleInput('empleado-{{empleado.id}}', 'hora-{{empleado.id}}')">
                            <label for="empleado-{{empleado.id}}">{{empleado.nombre}} {{empleado.apellido_paterno}} {{empleado.apellido_materno}}</label>
                        </div>
                        <div class="horas">
                            <input type="time" id="hora-{{empleado.id}}" name="{{empleado.id}}">
                        </div>
                      </div>
                    {% endfor %}
                    <div id="paginationModalEntrada"></div>
                    <button id="confirmar">Confirmar</button>

            
                </div>
            
            </div>

             <!-- Ventana Modal al Terminar el Turno -->
             <div id="modal2" class="modal">

                <div class="modal-content centered">
                    <h2>Seleccione los empleados que requieran de horas extra!</h2>
                    {% for empleadoAsistido in empleadosAsistidos %}
                      <div class="employeesModal">
                        <div class="nombres">
                            <input type="checkbox" class="checkModal2" id="check_{{empleadoAsistido.id}}" name="check_{{empleadoAsistido.id}}" onchange="toggleHorasExtra('check_{{empleadoAsistido.id}}', 'hora_{{empleadoAsistido.id}}')">
                            <label for="check_{{empleadoAsistido.id}}">{{empleadoAsistido.nombre}} {{empleadoAsistido.apellido_paterno}} {{empleadoAsistido.apellido_materno}}</label>
                        </div>
                        <div class="horas">
                            <input type="number" id="hora_{{empleadoAsistido.id}}" name="{{empleadoAsistido.id}}" value="1" min="1" max="5">
                        </div>
                      </div>
                      {% endfor %}
                      <div id="paginationModalHoras"></div>
                    {% for asistencia in asistencias %}
                    <button data-id="{{asistencia.id}}" id="confirmar-turno">Confirmar</button>
                    {% endfor %}
            
                </div>
            
            </div>

              <!-- Ventana Modal Justificación -->
              <div id="modal3" class="modal">

                <div class="modal-content centered">
                    <h2>Faltas Justificadas / No Justificadas</h2>


                    <div class="checks">
                      <div class="empleado">
                        <div class="nombres">
                            <input type="checkbox" id="justificada" name="justificada">
                            <label for="justificada">Justificada</label>
                        </div>
                      </div>

                      <div class="empleado">
                        <div class="nombres">
                            <input type="checkbox" id="no-justificada" name="no-justificada">
                            <label for="no-justificada">No Justificada</label>
                        </div>
                      </div>
                    </div>
                    <div>
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" rows="8" placeholder="Agregar una descripción de la justificación"></textarea>
                    
                    </div>

                    <div class="acciones">

                        <div>
                            <input type="file" id="file-input" accept="image/*" style="display: none;">
                            <span id="adjuntar" class="material-icons">attach_file</span>
                            <span>Adjuntar Evidencia</span>
                        </div>

                            <button id="terminar">Terminar</button>
                      
                        
                      
                      </div>
            
                </div>
            
            </div>
                
                
        
                <!-------------------Notificación en la parte de abajo------->
                <div id="notification-bar"></div>


                <!-------------------Inicio de la seccion del menu de la parte superior -------------------------------------------- -->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>

                <div class="theme-toggler">
                    <span class="material-icons active">light_mode</span>
                    <span class="material-icons">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <small class="text-muted">Admin</small>
                    </div>

                    <div class="profile-photo">
                        <img src="/images/profile-1.jpg" alt="foto de perfil">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/asistencia.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>

</html>