<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Control de INCOSOD</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/registro_semanal.css">
</head>
<body>
    <div class="container">

        <aside>
            <div class="top">
                <!--Aqui se coloca el logo de la empresa-->
                <div class="logo">
                    <img src="/images/logo.png" alt="Logotipo">
                    <h2><span class="color-in">IN</span>COSOD</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">
                        close
                        </span>
                </div>
            </div>
            <!--Aqui se define el sidebar que contendra los apartados a donde el usuario podra navegar dentro del sistema-->
            <div class="sidebar">

                <a href="#"  id="panel-control">
                    <span class="material-icons">grid_view</span>
                    <h3>Panel de Control</h3>
                </a>
                <a href="#" id="p-empleados">
                    <span class="material-icons">person</span>
                    <h3>Empleados</h3>
                </a>
                <a href="#" id="asistencias">
                    <span class="material-icons">assignment_ind</span>
                    <h3>Asistencias</h3>
                </a>
                <div class="submenu" id="submenu">
                    <a id="registro-asistencia"> Registrar Asistencia</a>
                    <a id="consulta-asistencia"> Consultar Asistencia</a>
                </div>

                <a href="#">
                    <span class="material-icons">create</span>
                    <h3>Proyectos</h3>
                </a>

                <a href="#" id="proyectos">
                    <span class="material-icons">payments</span>
                    <h3>Nómina</h3>
                </a>
                <a href="#">
                    <span class="material-icons">text_snippet</span>
                    <h3>Bitácora</h3>
                </a>
                <a href="#">
                    <span class="material-icons">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>

        </aside>
        <!--------------------------------------------------- FIN DEL ASIDE ------------------------------------------------------>
        <main>
            <h1>Detalle de Asistencias</h1>
            <!--------------Campo de fecha-------------------->
            <div class="date">
            <input type="date" id="fechaActual">
            </div>

            <div class="tab-container">
            <div class="tab-menu">
                <button class="tab-button active" data-tab="estado">Estado</button>
                <button class="tab-button" data-tab="entrada">Horas de Entrada</button>
                <button class="tab-button" data-tab="laboradas">Horas Laboradas</button>
                <button class="tab-button" data-tab="extra">Horas Extra</button>
            </div>

            <div class="tab-content">
                <div id="estado" class="tab-pane active">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalleSemanal in detallesSemanales %}
                    <tr>
                        <td>{{detalleSemanal.Nombre}}</td>
                        <td>{{detalleSemanal.Lunes}}
                        {% if detalleSemanal.Lunes == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="lunes" data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                        <td>{{detalleSemanal.Martes}}
                        {% if detalleSemanal.Martes == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="martes"  data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                        <td>{{detalleSemanal.Miercoles}}
                        {% if detalleSemanal.Miercoles == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="miercoles"  data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                        <td>{{detalleSemanal.Jueves}}
                        {% if detalleSemanal.Jueves == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="jueves"  data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                        <td>{{detalleSemanal.Viernes}}
                        {% if detalleSemanal.Viernes == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="viernes"  data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                        <td>{{detalleSemanal.Sabado}}
                        {% if detalleSemanal.Sabado == 'Falta Justificada'%}
                            <span class="icons">
                                <span id="visibility" class="material-icons icon-justificada" data-dia="sabado"  data-id="{{detalleSemanal.id_detalle}}">visibility</span>
                            </span>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

                <div id="entrada" class="tab-pane">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalleSemanal in detallesSemanales %}
                    <tr>
                        <td>{{detalleSemanal.Nombre}}</td>
                        <td>{{detalleSemanal.Entrada_Lunes}}</td>
                        <td>{{detalleSemanal.Entrada_Martes}}</td>
                        <td>{{detalleSemanal.Entrada_Miercoles}}</td>
                        <td>{{detalleSemanal.Entrada_Jueves}}</td>
                        <td>{{detalleSemanal.Entrada_Viernes}}</td>
                        <td>{{detalleSemanal.Entrada_Sabado}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

                <div id="laboradas" class="tab-pane">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalleSemanal in detallesSemanales %}
                    <tr>
                        <td>{{detalleSemanal.Nombre}}</td>
                        <td>{{detalleSemanal.Horas_Lunes}}</td>
                        <td>{{detalleSemanal.Horas_Martes}}</td>
                        <td>{{detalleSemanal.Horas_Miercoles}}</td>
                        <td>{{detalleSemanal.Horas_Jueves}}</td>
                        <td>{{detalleSemanal.Horas_Viernes}}</td>
                        <td>{{detalleSemanal.Horas_Sabado}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>

                <div id="extra" class="tab-pane">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detalleSemanal in detallesSemanales %}
                    <tr>
                        <td>{{detalleSemanal.Nombre}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Lunes}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Martes}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Miercoles}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Jueves}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Viernes}}</td>
                        <td>{{detalleSemanal.Horas_Extra_Sabado}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>

            <!-- Aquí es donde aparecerán los botones de paginación -->
            <div id="pagination"></div>
        </main>

        
        <div id="modal" class="modal">

            <div class="modal-content centered">
                <h2>Descripción de las Faltas</h2>
                <div>
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" rows="8"></textarea>
                
                </div>

                <div class="acciones">

                    <div>
                        <input type="file" id="file-input" accept="image/*" style="display: none;">
                        <span id="adjuntar" class="material-icons">attach_file</span>
                        <span>Ver Evidencia</span>
                    </div>
                  
                  
                  </div>
        
            </div>
        
        </div>



                <!-------------------Inicio de la seccion del menu de la parte superior -------------------------------------------- -->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons">menu</span>
                </button>

                <div class="theme-toggler">
                    <span class="material-icons active">light_mode</span>
                    <span class="material-icons">dark_mode</span>
                </div>

                <div class="profile">
                    <div class="info">
                        <small class="text-muted">Admin</small>
                    </div>

                    <div class="profile-photo">
                        <img src="/images/profile-1.jpg" alt="foto de perfil">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/registro_semanal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>

</html>